/* Universal Styling */
* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  /*border: 1px solid white;*/
}

span {
  font-size: 22px;
}

.container {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 5;
  border-bottom: 1px solid seashell;
  top: 0;
  opacity: 1;
}

#logo {
  display: flex;
  margin-left: 10px;
}

#logo img {
  max-height: 50px;
  margin: auto;
}

nav {
  display: flex;
  margin-right: 10px;
}

nav span {
  text-decoration: underline;
  margin: auto;
}

nav a {
  margin: auto;
  padding: 15px;
}
/* Main Content Styling */
main {
  position: relative;
}

section {
  margin: auto;
  padding-top: 69px;
  opacity: 0.9;
}

.headings {
  text-align: center;
}

/* Mission section */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url("img/img-mission-background.jpg");
  margin: auto;
}

.our-mission .headings {
  z-index: 5;
  width: 1200px;
  opacity: 1;
}

/* Featuerd section */
.featured-tea {
  width: 1000px;
  margin: auto;
}

.featured-tea .container {
  justify-content: center;
}

.images {
  margin: 0px 15px;
}

.images img {
  width: 300px;
  height: 200px;
}

.images h4 {
  text-align: center;
  margin-top: 10px;
}

/* Locations styling */

.our-locations {
  background-image: url('img/img-locations-background.jpg');
  background-position: center;
  width: 1200px;
  height: 500px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.our-locations h2 {
  width: inherit;
  background-color: rgba(0, 0, 0, 0);
}

.our-locations .container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;

}

.our-locations .addresses {
  width: 300px;
  height: 300px;
  opacity: 1;
  margin: 15 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.addresses span {
  display: block;
}

 #locations .headings {
   height: 200px;
 }

/* Footer styling */
footer {
  margin-left: 20px;
  text-align:left;
}
