/* Universal Styling */
* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  /*border: 1px solid white;*/
}

span {
  font-size: 22px;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 5;
  border-bottom: 1px solid seashell;
  top: 0;
}

#logo {
  display: flex;
  margin-left: 10px;
}

#logo img {
  max-height: 50px;
  margin: auto;
}

nav {
  display: flex;
  margin-right: 10px;
}

nav span {
  text-decoration: underline;
  margin: auto;
}

nav a {
  margin: auto;
  padding: 15px;
}
/* Main Content Styling */
main {
  position: relative;
}

section {
  margin: auto;
  padding-top: 69px;
}

.headings {
  text-align: center;
}

/* Mission section */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url("img/img-mission-background.jpg");
  margin: auto;
}

.our-mission .headings {
  z-index: 5;
  width: 1200px;
}

/* Featuerd section */
.featured-tea {
  display: flex;
  width: 1000px;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

#row1, #row2 {
  display: flex;
}

#row1 {
  order: 2;
}

#row2 {
  order: 3;
}
.featured-tea .headings {
  margin: auto;
  width: 1000px;
  order: 1;
}

.images img {
  max-height: 200px;
  max-width: 300px;
  margin: 0 25px;
}

.images h4 {
  margin-top: 10px;
  text-align: center;
}
